<link rel="stylesheet" href="~/css/cadastro.css" asp-append-version="true" />
<script src="~/js/novoCandidato.js" type="text/javascript"></script>

<div class="divEdicao">
    <h1>Cadastrar novo candidato</h1>
    <form class="formularioAlteracao">
            <label for="nomeCandidato">Nome do Candidato: </label>
            <input name="nomeCandidato" id="nomeCandidato" type="text" value="" />

            <label for="nomeVice">Nome do Vice: </label>
            <input id="nomeVice" name="nomeVice" type="text" value="" />

        <label for="legendaCadastro">Legenda: </label>
            <input id="legendaEdicao" name="legendaCadastro" type="text" value="" />

        <div class="botoes">
            <a onclick="adicionarCandidato()" style="background-color: green; cursor: pointer;">Finalizar</a>
            <button asp-controller="Home" asp-action="Index" style="background-color: red;">Cancelar</button>
        </div>
    </form>
</div>
