@model IEnumerable<UrnaEletronica.API.Models.Candidato>
@{
    ViewData["Title"] = "Home Page";
}

<div class="divCorpo">
    <div class="tetoUrna"></div>
    <div class="Urna">
       
        <div class="telaUrna">
            <div class="dadosCandidato" style="display: none;">
                <label id="idCandidato" hidden></label>

                <div>
                    <label>Presidente: </label>&ensp; <h3 id="nomeCandidato"></h3>
                </div>
                <div>
                    <label>Vice: </label>&ensp; <h3 id="nomeVice"></h3>
                </div>
               
            </div>
            <h3 class="tipoCandidato">Presidente</h3>
            <label id="legenda"></label>
        </div>

        <div class="divBotoesUrna">
            <div class="tituloJusticaEleitoral">
                <img src="~/Imagens/Brasao.jpg" class="brasao" />
                <h2 style="color: black; text-align: center;">JUSTIÇA ELEITORAL</h2>
            </div>
            <div class="botoesUrna">
                <div class="botoesNumericos">
                    @for (int i = 1; i <= 10; i++)
                    {
                        var numero = i;
                        if (numero == 10)
                        {
                            numero = 0;
                        }
                        <button class="numeros" onclick="adicionarNumero(@numero)">@numero</button>
                    }
                </div>
                <div class="botoesAcao">
                    <button class="acao branco" onclick="tocarAudio()">Branco</button>
                    <button class="acao limpa" onclick="limparTela()">Corrige</button>
                    <button type="submit" onclick="votar()" class="acao confirma">Confirma</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/votar.js" asp-append-version="true"></script>

<script type="text/javascript">
    function adicionarNumero(numero) {
        if ($("#legenda").html().length < 2) {
            $("#legenda").html($("#legenda").html() + numero)
        }

        if ($("#legenda").html().length == 2) {
            $(".dadosCandidato").show(150)
            var legenda = $("#legenda").html()
            var dados = "Sem dados"

            $(".tipoCandidato").hide()
            $("#legenda").hide()
            $.ajax({
                type: "POST",
                url: '@Url.Action("CarregarCandidato", "Home")',
                data: { legenda: legenda },
                cache: false,
                success: function (datas) {
                 $(datas).each(function(i){
                        document.getElementById("nomeCandidato").innerHTML = datas[i].nomeCandidato
                        document.getElementById("nomeVice").innerHTML = datas[i].nomeVice
                        document.getElementById("idCandidato").innerHTML = datas[i].idCandidato
                 })

                },
                error: function (xhr, status, error) { }
            })
        }
    }

</script>